<nav class="sidebar">
    <form action="/addAuthor">
        <button class="navButton">New Author</button>
    </form>

    <form action="/addQuotes">
        <button class="navButton">Add Quote</button>
    </form>

    <form action="/authors">
        <button class="navButton">Authors</button>
    </form>

    <form action="/quotes">
        <button class="navButton">Quotes</button>
    </form>
</nav>

<div class="info"></div>