html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Oswald, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    display: flex;
    margin: 0;
}

nav.sidebar {
    box-sizing: border-box;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    padding-left: 20px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(51, 51, 51);
}

.navButton {
    color: black;
    background-color: white;
    font-size: 30px;
    width: 200px;
    opacity: 0.7;
}

nav.sidebar button.active {
    opacity: 1;
}

.main-content {
    flex: 1 1 auto;
    padding: 24px;
}

.material {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: solid;
    width: 100%;

}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
}